.font-awesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
/*********************************************************
* UI STATES
*/
/* Hidden */
.butter-hidden {
  display: none !important;
}
.butter-button-waiting,
.butter-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
/* Warning for unsupported browsers */
.butter-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFF;
  background: #cb3e21;
  z-index: 10020;
  font-size: 10pt;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: transform 0.2s linear 1s;
  -moz-transition: transform 0.2s linear 1s;
  -o-transition: transform 0.2s linear 1s;
  -ms-transition: transform 0.2s linear 1s;
  transition: transform 0.2s linear 1s;
}
.butter-warning.slide-out {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.butter-warning span {
  display: block;
  padding: 1em;
  line-height: 1.2;
}
.butter-warning a {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}
.butter-warning button {
  float: right;
  margin: 0.4em;
  padding: 4px 6px;
  border: 1px solid #FFF;
  background: transparent;
}
/* Spinney */
.butter-logo-spin-outer {
  width: 16px;
  height: 16px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}
.butter-logo-spin-outer.fade-out {
  opacity: 0;
}
.butter-spinner {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-image: url("../resources/icons/spinny.gif");
}
.butter-spinner.hidden {
  /* conflict with .media-editor .media-loading-spinner.media-gallery-loading */

  display: none !important;
}
.invalid-field .butter-spinner {
  background-image: url("../resources/icons/spinny-error.gif");
}
/* Toggle hide/show button for editor and tray */
.butter-toggle-button {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  color: #d9dddd;
  position: absolute;
}
.butter-toggle-button:hover {
  color: #3a3c3c;
}
.butter-toggle-button:after {
  content: "\f078";
}
.butter-toggle-button.toggled:after {
  content: "\f077";
}
/* Targets and highlighting */
.butter-highlight-on {
  box-shadow: 0 0 0 10px #3fb58e;
}
.butter-highlight-fade {
  -webkit-transition: box-shadow 1.5s;
  -moz-transition: box-shadow 1.5s;
  -o-transition: box-shadow 1.5s;
  -ms-transition: box-shadow 1.5s;
  transition: box-shadow 1.5s;
  box-shadow: 0 0 0 10px transparent;
}
.butter-iframe-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  z-index: 10000;
  display: none;
}
/*********************************************************
* Drop down
*/
.butter-dropdown-off {
  visibility: hidden;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  color: #F8FDE2;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
}
body.show-loading .loading-message {
  opacity: 1;
  z-index: 3;
  visibility: visible;
}
#controls-big-play-button {
  width: 57px;
  height: 66px;
  background: url("../resources/controls/icon_play.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -26px;
  z-index: 3;
  cursor: pointer;
}
.show-loading #controls-big-play-button {
  display: none;
}
.embed {
  width: 100%;
  height: 100%;
  position: relative;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 43px;
  z-index: 1;
}
#video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
#video.full-screen {
  padding: 0;
  height: 100%;
}
.video > div video,
.video > div iframe,
.video > object,
.embed-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#thumbnail-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  background-color: #FFFFFF;
}
#thumbnail-container > .project-thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
}
#thumbnail-container > .background-image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 43px;
}
#thumbnail-container.preload {
  z-index: 1002;
}
#thumbnail-container.hidden {
  display: none;
}
.embed-overlay {
  background: rgba(255, 255, 255, 0.95);
  color: #676867;
}
.embed-nav {
  list-style: none;
  padding: 0;
}
.embed-nav > li {
  display: inline-block;
  margin-right: 10px;
}
.embed-nav > li > a {
  display: block;
  padding-top: 50px;
  width: 50px;
  text-decoration: none;
  color: #EEE;
  text-align: center;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.embed-nav > li > a:hover {
  opacity: 1;
}
/*********************************************************
* Credits
*/
.attribution-info {
  font-family: "Meta", "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1%;
  font-size: 14px;
}
.attribution-info.show {
  z-index: 4;
}
.attribution-info a,
.attribution-info a:visited {
  color: #555;
}
@media only screen and (min-width: 640px) {
  .attribution-info {
    font-size: 16px;
  }
}
@media only screen and (min-width: 853px) {
  .attribution-info {
    font-size: 21.325px;
  }
}
@media only screen and (min-width: 1280px) {
  .attribution-info {
    font-size: 28px;
  }
}
.attribution-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: #cb3e21;
  color: #FFF;
  z-index: 1;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.attribution-logo:before {
  position: relative;
  top: 3px;
  font-size: 30px;
  font-family: Georgia, serif;
  content: '\0201c';
}
.attribution-logo:hover {
  opacity: 1;
}
.attribution-logo:hover .attribution-text {
  visibility: visible;
}
.attribution-text {
  position: absolute;
  height: 25px;
  line-height: 25px;
  left: 31px;
  visibility: hidden;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media only screen and (min-width: 853px) {
  .attribution-logo {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .attribution-logo:before {
    font-size: 40px;
  }
  .attribution-text {
    left: 39px;
    line-height: 30px;
  }
}
.attribution-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.attribution-mopop {
  color: #cb3e21;
  font-size: 0.9em;
  font-weight: 700;
}
.attribution-title {
  font-size: 1.3em;
  line-height: 1.6;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.attribution-author {
  font-style: italic;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.attribution-author > a {
  text-decoration: none;
}
.attribution-author > a:hover {
  text-decoration: underline;
}
.attribution-media,
.attribution-images,
.attribution-extra {
  margin-top: 0.5em;
  font-size: 0.7em;
  width: 100%;
  float: left;
  clear: left;
}
.attribution-media > .container-label,
.attribution-images > .container-label,
.attribution-extra > .container-label {
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 2em;
}
.attribution-media .data-container,
.attribution-images .data-container,
.attribution-extra .data-container {
  width: 90%;
  float: right;
}
.attribution-media .attribution-media-src,
.attribution-images .attribution-media-src,
.attribution-extra .attribution-media-src {
  float: left;
  white-space: nowrap;
  text-decoration: none;
  color: #555;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.attribution-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 8px;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
}
.attribution-close:hover {
  opacity: 1;
}
.attribution-details {
  opacity: 0;
  visibility: hidden;
}
.attribution-on {
  z-index: 4;
}
.attribution-on .attribution-logo {
  opacity: 1;
}
.attribution-on .attribution-logo .attribution-text {
  visibility: hidden;
}
.attribution-on .attribution-details {
  opacity: 1;
  visibility: visible;
}
/*********************************************************
* Icons for credits
*/
.media-icon {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  background: url("../resources/icons/media-icons.png") no-repeat;
  height: 16px;
  width: 16px;
}
.media-icon.html5-icon {
  background-position: 0 0;
}
.media-icon.youtube-icon {
  background-position: -16px 0;
}
.media-icon.vimeo-icon {
  background-position: -32px 0;
}
.media-icon.soundcloud-icon {
  background-position: -48px 0;
}
.media-icon.archive-icon {
  background-position: -64px 0;
}
/*********************************************************
 SHARED STYLES BETWEEN POSTROLL AND SHARE STATES */
#post-roll-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
#post-roll-container.embed-dialog-open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  -moz-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  -ms-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}
#post-roll,
#share {
  font-family: "Meta", "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
  line-height: 1.4em;
  color: #676867;
}
#post-roll a,
#share a {
  color: #676867;
}
#post-roll .post-roll-inner,
#share .post-roll-inner,
#post-roll .share-inner,
#share .share-inner {
  position: relative;
  padding: 10%;
  font-family: "Meta", "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#post-roll .embed-project,
#share .embed-project,
#post-roll .share-options,
#share .share-options {
  margin-left: 30%;
  margin-top: 0;
  padding-left: 0;
}
#post-roll .mozpopcorn,
#share .mozpopcorn {
  color: #D53B2A;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  line-height: 1em;
}
#post-roll .embed-logo,
#share .embed-logo {
  float: left;
  background: url("../resources/controls/postroll_logo.png") 0 0 no-repeat;
  width: 30%;
  background-size: 100%;
  max-width: 231px;
  height: 388px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -5%;
}
#post-roll .embed-title,
#share .embed-title {
  font-size: 32px;
  font-weight: 700;
  color: #676867;
  line-height: 1.4em;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#post-roll .embed-author,
#share .embed-author {
  margin-bottom: 1em;
  color: #676867;
  font-size: 20px;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#post-roll .embed-author > a,
#share .embed-author > a {
  text-decoration: none;
}
#post-roll .embed-author > a:hover,
#share .embed-author > a:hover {
  text-decoration: underline;
}
/*********************************************************
* POST ROLL
*/
#post-roll .post-roll-description {
  color: #676867;
  font-size: 20px;
}
#post-roll .embed-nav > li > a {
  background: rgba(0, 0, 0, 0.3) url("../resources/controls/controls_icons.png") no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 7px;
  width: 58px;
  height: 58px;
}
#post-roll .embed-nav > li > a span {
  color: #676867;
  display: block;
  position: absolute;
  top: 60px;
  font-size: 16px;
}
#post-roll #replay-post {
  background-position: 9px -28px;
  cursor: pointer;
}
#post-roll #replay-post:hover {
  background-color: #2BB673;
}
#post-roll #remix-post {
  background-position: 9px -78px;
  cursor: pointer;
}
#post-roll #remix-post:hover {
  background-color: #002839;
}
#post-roll #share-post {
  background-position: 9px -123px;
  cursor: pointer;
}
#post-roll #share-post:hover {
  background-color: #D53B2A;
}
/*********************************************************
* SHARE
*/
#share-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#share .embed-nav > li {
  width: 80px;
  height: 40px;
}
#share #share-close {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 16px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: block;
  color: white;
  text-align: center;
  padding-top: 6px;
  line-height: 1em;
  width: 28px;
  height: 23px;
  cursor: pointer;
}
#share #share-close:hover {
  background: #1eb771;
}
#share .share-options input,
#share .share-options textarea {
  font-size: 12px;
  resize: none;
  width: 70%;
  padding: 10px;
  float: left;
  border-radius: 2px;
  background: white;
  border: 1px solid #d5d6d5;
}
#share .share-options input:focus,
#share .share-options textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #2BB673;
}
#share .share-options textarea {
  height: 90px;
  font-family: menlo, monospace;
}
#share .share-options fieldset {
  border: none;
  padding: 5px 0;
}
#share .share-options label {
  display: block;
  padding-bottom: 0;
  font-size: 16px;
}
#share .share-buttons {
  float: left;
  margin: 0;
  margin-left: 20px;
  display: none;
}
#share .share-buttons > li > a {
  padding: 3px;
}
#share .share-size {
  float: left;
  margin-left: 10px;
  line-height: 1em;
  position: relative;
}
#share .size-options {
  background: #ababab;
  border-radius: 5px;
  position: absolute;
  z-index: 9999;
  width: 113px;
}
#share .size-options a {
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3px 0;
  display: none;
}
#share .size-options a:last-child {
  border-bottom: none;
}
#share .size-options a:hover {
  background: #1EB771;
}
#share .size-options a.current {
  display: block;
  background: url("../resources/controls/embed_size_sprite.png") no-repeat 90px 15px;
}
#share .size-options a.current:hover {
  display: block;
  background: #1EB771;
}
#share .size-options a:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#share .size-options a:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#share .size-options span {
  display: block;
}
#share .size-options span.icon {
  background: url("../resources/controls/embed_size_sprite.png") no-repeat;
  width: 36px;
  height: 29px;
  margin: 0 3px;
  float: left;
}
#share .size-options span.size {
  font-weight: bold;
  line-height: 1.2em;
}
#share .size-options span.dimensions {
  line-height: 1.2em;
}
#share .size-options .small .icon {
  background-position: center -14px;
}
#share .size-options .medium .icon {
  background-position: center -52px;
}
#share .size-options .large .icon {
  background-position: center -91px;
}
#share .size-options .xlarge .icon {
  background-position: center -131px;
}
#share .size-options:hover a {
  display: block;
  background-image: none;
}
#share .size-options:hover a.current {
  background: url("../resources/controls/embed_size_sprite.png") no-repeat 88px -162px;
}
/*********************************************************
* MEDIA QUERIES
*/
@media only screen and (max-width: 853px) {
  #post-roll .embed-logo,
  #share .embed-logo {
    width: 20%;
    background-size: 100%;
    margin-left: 10%;
    margin-top: 0;
    height: 255px;
  }
  #post-roll .embed-author,
  #share .embed-author {
    margin-bottom: 1em;
    font-size: 18px;
  }
  #post-roll .post-roll-inner,
  #share .post-roll-inner,
  #post-roll .share-inner,
  #share .share-inner {
    left: 0;
    width: 80%;
    padding: 5%;
    top: 10%;
  }
  #post-roll .post-roll-description {
    font-size: 16px;
    line-height: 1.2em;
  }
  #share .share-options input {
    width: 70%;
  }
  #share .share-options fieldset {
    padding: 3px 0;
    min-width: 0;
    width: 90%;
  }
  #share .share-options textarea {
    height: 110px;
    width: 70%;
    min-width: 0;
  }
  #share .share-options input {
    width: 70%;
    min-width: 0;
  }
  #share .share-options label {
    float: left;
    width: 20%;
    padding-top: 8px;
  }
  #share .share-size {
    float: none;
    margin-left: 97%;
    width: 100%;
  }
  #share .share-size .size-options {
    bottom: -35px;
  }
  #share .share-size label {
    float: left;
    width: 20%;
    padding-top: 2px;
  }
}
@media only screen and (max-width: 560px) {
  #post-roll,
  #share {
    font-size: 13px;
  }
  #post-roll .embed-title,
  #share .embed-title {
    margin-bottom: 3px;
    font-size: 25px;
  }
  #post-roll .mozpopcorn,
  #share .mozpopcorn {
    font-size: 12px;
  }
  #post-roll .embed-author,
  #share .embed-author {
    font-size: 14px;
  }
  #post-roll .embed-logo,
  #share .embed-logo {
    width: 20%;
    margin-left: 20px;
    margin-top: 0;
    height: 175px;
  }
  #post-roll .embed-project,
  #share .embed-project {
    margin-top: 0;
    padding-left: 0;
  }
  #post-roll .post-roll-inner,
  #share .post-roll-inner,
  #post-roll .share-inner,
  #share .share-inner {
    width: 90%;
    top: 0;
  }
  .post-roll-description {
    display: none;
  }
  #share .embed-logo {
    display: none;
  }
  #share .embed-project,
  #share .share-options {
    margin-left: 0;
  }
  #share .share-options fieldset {
    padding: 3px 0;
    min-width: 0;
    width: 100%;
  }
  #share .share-options textarea {
    height: 90px;
    width: 70%;
    min-width: 0;
  }
  #share .share-options input {
    width: 70%;
    min-width: 0;
  }
  #share .share-options label {
    float: left;
    width: 20%;
    padding-top: 8px;
  }
  #share .share-options .share-size {
    float: none;
    width: 100%;
    margin-top: 115px;
    margin-left: 20%;
  }
  .embed-info .embed-logo-small {
    width: 63px;
    height: 63px;
    margin-right: 10px;
  }
  .embed-info .mozpop {
    font-size: .9em;
  }
  .embed-info .embed-title {
    font-size: 1.3em;
  }
  .embed-info .embed-author {
    font-size: 1em;
  }
  .embed-info .embed-details {
    margin-top: 0;
  }
  #play {
    width: 40px;
    background-size: 100%;
    margin-top: 0;
  }
}
